@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Press+Start+2P&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.showcase {
    background: url("https://images.unsplash.com/photo-1598506679234-7a6ea7bde3ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") center center / cover;
    height: 95vh;
}

.nav-bar{
    width:100%;
    height: 5vh;
    background: #fff;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.container{
    position: relative;
    text-align: center;

}
.form{
    position: absolute;
    justify-content: space-evenly;
    font-size: x-large;
    bottom: 100%;
    padding-bottom: 150px;
    left: 40%;
    color: white;
}
.nav-bar a{
    text-decoration:none;
    color:black;
    padding: 0vw 1vw;
    border-right: black 0.1vw solid;
    border-left: black 0.1vw solid;
    font-family: 'Permanent Marker', cursive;
}

a:hover {
    color: rgb(236, 151, 40);
}

.nav-bar > a {
    font-weight: bold;
    font-size: 1.7rem;
}

/* .nav-bar .current {
    color: rgb(180, 29, 29);
    background: rgb(172, 171, 171);
} */

li {
    list-style-type: none;
    display:inline;
    margin: 0 2vw;
    font-size: 3vh;
    z-index: 1;
}
  
ul {
    display:flex;
}


  
footer {
    text-align: center;
    opacity: 0.8;
     padding: 10px;
}

footer p{
    font-family: 'Permanent Marker', cursive;
}

